@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"); }

body {
  margin: 0;
  padding: 0; }

.header {
  min-height: 99px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .header .header__toggle {
    display: none; }
  .header .header__menu {
    display: flex;
    align-items: center;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; }
  .header .header__nav-list {
    list-style: none;
    display: flex;
    margin: 0; }
  .header .header__nav-item a {
    color: #141517;
    text-decoration: none; }
  .header .header__nav-item:first-child {
    margin-right: 40px; }
  .header .header__nav-item a:hover,
  .header .header__nav-item a:focus {
    color: #FE7865; }
  .header .header__phone {
    margin-left: 89px;
    color: #141517;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
    position: relative; }
    .header .header__phone::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-image: url("../img/phone-black.svg");
      background-size: contain;
      background-repeat: no-repeat;
      left: -25px;
      top: 6px; }
  .header .header__phone:hover,
  .header .header__phone:focus {
    color: #FE7865; }
    .header .header__phone:hover::before,
    .header .header__phone:focus::before {
      background-image: url("../img/phone-red.svg"); }

@media (max-width: 1023px) {
  .header {
    width: 100%;
    min-height: 50px;
    display: block; }
    .header .header__logo {
      width: 44px;
      height: 17px;
      margin-top: 18.51px;
      margin-left: 16px; }
    .header .header__menu {
      font-weight: 600;
      font-size: 20px;
      position: relative; }
    .header .header__nav-list--opened {
      width: 100%;
      height: 394px;
      background-color: #FFFFFF;
      flex-direction: column;
      align-items: center;
      margin-top: 151px;
      padding-left: 16px; }
    .header .header__nav-list--closed {
      display: none; }
    .header .header__nav-item:first-child {
      margin-bottom: 64px; }
    .header .header__nav-item:last-child {
      margin-right: 140px; }
    .header .header__nav-item a {
      color: #48494D; }
    .header .header__nav-item {
      position: relative; }
    .header .header__nav-item::after {
      content: "";
      position: absolute;
      width: 7.4px;
      height: 12px;
      background: url("../img/menu-arrow.svg") no-repeat;
      background-size: cover;
      top: 5px; }
    .header .header__nav-item:first-child::after {
      right: -108px; }
    .header .header__nav-item:last-child::after {
      right: -213px; }
    .header .header__phone {
      display: none; }
    .header .header__toggle--cross {
      display: block;
      width: 22px;
      height: 22px;
      padding: 0;
      position: absolute;
      border: none;
      background-color: #FFFFFF;
      background-image: url("../img/menu-cross.svg");
      background-size: cover;
      top: 15px;
      right: 14px; }
    .header .header__toggle--burger {
      display: block;
      width: 22.5px;
      height: 14px;
      position: absolute;
      border: none;
      background-color: transparent;
      background-image: url("../img/menu-burger.svg");
      background-size: cover;
      top: -22px;
      right: 25.5px; }
      .header .header__toggle--burger::before {
        content: "";
        position: absolute;
        width: 72px;
        height: 50px;
        background-color: #FE7865;
        top: -18px;
        left: -24px;
        z-index: -1; } }

@media (max-width: 767px) {
  .header {
    width: 100%;
    min-height: 50px;
    display: block; }
    .header .header__logo {
      width: 44px;
      height: 17px;
      margin-top: 18.51px;
      margin-left: 16px; }
    .header .header__menu {
      font-weight: 600;
      font-size: 20px;
      position: relative; }
    .header .header__nav-list--opened {
      width: 100%;
      height: 568px;
      background-color: #FFFFFF;
      flex-direction: column;
      align-items: start;
      margin-top: 151px;
      padding-left: 16px; }
    .header .header__nav-list--closed {
      display: none; }
    .header .header__nav-item:first-child {
      margin-bottom: 64px; }
    .header .header__nav-item a {
      color: #48494D; }
    .header .header__nav-item {
      position: relative; }
    .header .header__nav-item::after {
      content: "";
      position: absolute;
      width: 7.4px;
      height: 12px;
      background: url("../img/menu-arrow.svg") no-repeat;
      background-size: cover;
      top: 5px; }
    .header .header__nav-item:first-child::after {
      right: -108px; }
    .header .header__nav-item:last-child::after {
      right: -213px; }
    .header .header__phone {
      display: none; }
    .header .header__toggle--cross {
      display: block;
      width: 22px;
      height: 22px;
      padding: 0;
      position: absolute;
      border: none;
      background-color: #FFFFFF;
      background-image: url("../img/menu-cross.svg");
      background-size: cover;
      top: 15px;
      right: 14px; }
    .header .header__toggle--burger {
      display: block;
      width: 22.5px;
      height: 14px;
      position: absolute;
      border: none;
      background-color: transparent;
      background-image: url("../img/menu-burger.svg");
      background-size: cover;
      top: -22px;
      right: 13.75px; }
      .header .header__toggle--burger::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #FE7865;
        top: -18px;
        left: -14px;
        z-index: -1; } }

.adv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  padding-top: 185px;
  padding-right: 433px;
  min-width: 1024px;
  min-height: 860px;
  background-color: rgba(62, 120, 167, 0.867);
  background-image: url("../img/adv-bg-desk.png");
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .adv {
      background-image: url("../img/adv-bg-desk@2x.png");
      background-size: cover; } }
  .adv .adv__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    margin: 0;
    color: #FFFFFF;
    width: 412px; }
  .adv .adv__description {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 376px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-right: 35px;
    margin-bottom: 39px; }
  .adv .adv__button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 340px;
    height: 75px;
    background-color: #FE7865;
    margin-right: 70px;
    box-sizing: border-box;
    padding-left: 49px;
    position: relative; }
    .adv .adv__button::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background: url("../img/arrow-down.svg") no-repeat;
      background-size: contain;
      top: 30px;
      right: 31px; }
  .adv .adv__button:hover,
  .adv .adv__button:focus {
    background-color: #F17D4B; }

@media (max-width: 1023px) {
  .adv {
    min-width: 768px;
    min-height: 344px;
    background-image: url("../img/adv-bg-tablet.png");
    background-size: cover;
    padding: 0; } }
  @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
    .adv {
      background-image: url("../img/adv-bg-tablet@2x.png");
      background-size: cover; } }

@media (max-width: 1023px) {
    .adv .adv__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      color: #FFFFFF;
      width: 398px;
      margin: 0 auto;
      margin-top: 60px;
      text-align: center;
      position: relative; }
    .adv .adv__description {
      color: #FFFFFF;
      width: 450px;
      text-align: center;
      margin: 0 auto;
      margin-top: 15px; }
    .adv .adv__button {
      width: 250px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 auto;
      margin-top: 15px;
      padding-left: 40px; }
      .adv .adv__button::after {
        top: 18px;
        right: 40px; } }

@media (max-width: 767px) {
  .adv {
    min-width: 320px;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    background: none;
    padding: 0; }
    .adv .adv__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      width: 294px;
      margin: 0 auto;
      margin-top: 81px;
      text-align: center;
      position: relative; }
      .adv .adv__title::before {
        content: "";
        position: absolute;
        min-width: 320px;
        min-height: 235px;
        z-index: -1;
        top: -81px;
        left: -13px;
        background-color: rgba(62, 120, 167, 0.867);
        background-image: url("../img/adv-bg-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .adv .adv__title::before {
          background-image: url("../img/adv-bg-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
    .adv .adv__description {
      color: #2C2E3F;
      width: 288px;
      text-align: center;
      margin: 0 auto;
      margin-top: 102px; }
    .adv .adv__button {
      width: 288px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 auto;
      margin-top: 20px;
      padding-left: 40px; }
      .adv .adv__button::after {
        top: 18px;
        right: 40px; } }

.places {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 199px; }
  .places .places__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    width: 358px;
    margin-bottom: 64px;
    position: relative; }
    .places .places__title::after {
      content: "";
      position: absolute;
      width: 228.51px;
      height: 4px;
      background-color: #FE7865;
      bottom: -30px;
      left: 0; }
  .places .places__description {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 350px;
    margin-top: 0; }
  .places .places__list {
    list-style: none;
    padding: 0;
    display: flex;
    max-width: 1170px;
    justify-content: center;
    flex-wrap: wrap; }
  .places .places__item {
    position: relative;
    width: 350px;
    margin-bottom: 101px; }
  .places .places__item:not(:nth-child(3n)):not(:nth-child(5n)) {
    margin-right: 60px; }
  .places .places__name {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    width: 215px;
    height: 63px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 368px;
    left: 68px;
    z-index: 2; }
  .places .places__button {
    display: none; }
  .places .places__item:hover .places__button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 266px;
    height: 77px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    top: 177px;
    left: 42px;
    z-index: 3; }
  .places .places__link:hover::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 430px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(20, 21, 23, 0.6); }

@media (max-width: 1023px) {
  .places {
    max-width: 768px;
    margin-top: 80px; }
    .places .places__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      width: 301px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center; }
      .places .places__title::after {
        display: none; }
    .places .places__description {
      width: 343px;
      margin: 0 auto;
      margin-bottom: 40px;
      text-align: center;
      color: rgba(44, 46, 63, 0.7); }
    .places .places__list {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      width: 605px;
      height: 1313px;
      flex-wrap: wrap; }
    .places .places__item {
      width: 288px;
      height: 425px; }
    .places .places__item:not(:nth-child(3n)):not(:nth-child(5n)) {
      margin: 0; }
    .places .places__item:nth-child(odd):not(:last-child) {
      margin-right: 29px;
      margin-bottom: 19px; }
    .places .places__link:hover::before,
    .places .places__item:hover .places__button {
      display: none; }
    .places .places__img {
      width: 288px;
      height: 425px; }
    .places .places__name {
      top: 368px;
      left: 36px; } }

@media (max-width: 767px) {
  .places {
    max-width: 288px;
    margin-top: 108px;
    margin-bottom: 40px; }
    .places .places__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      width: 288px;
      margin-top: 0;
      margin-bottom: 20px;
      text-align: center; }
      .places .places__title::after {
        display: none; }
    .places .places__description {
      width: 288px;
      margin-bottom: 20px;
      text-align: center; }
    .places .places__list {
      width: 288px;
      height: auto;
      flex-direction: column;
      flex-wrap: nowrap; }
    .places .places__item {
      width: 288px;
      height: 425px;
      margin-bottom: 35px; }
    .places .places__item:nth-child(odd):not(:last-child),
    .places .places__item:nth-child(even),
    .places .places__item:not(:nth-child(3n)):not(:nth-child(5n)) {
      margin-right: 0;
      margin-bottom: 35px; }
    .places .places__link:hover::before,
    .places .places__item:hover .places__button {
      display: none; }
    .places .places__img {
      width: 288px;
      height: 425px; }
    .places .places__name {
      top: 368px;
      left: 36px; } }

.guide {
  position: relative; }
  .guide .guide__list {
    list-style: none;
    padding: 0;
    padding-bottom: 15px;
    margin-right: 35%;
    margin-left: auto;
    display: flex;
    width: 899px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(44, 46, 63, 0.3); }
  .guide .guide__list-item {
    text-decoration: none;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgba(44, 46, 63, 0.3); }
  .guide .guide__list-item--current {
    color: #FE7865; }
  .guide .guide__card {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 80px; }

@media (max-width: 1023px) {
  .guide {
    margin-top: 98px; }
    .guide .guide__wrapper {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; }
    .guide .guide__wrapper::-webkit-scrollbar {
      display: none; }
    .guide .guide__list {
      margin-left: 37px;
      padding-right: 37px; } }

@media (max-width: 767px) {
  .guide .guide__no-scroll {
    overflow: hidden; }
  .guide .guide__wrapper {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
  .guide .guide__wrapper::-webkit-scrollbar {
    display: none; }
  .guide .guide__list {
    margin-left: 15px; }
  .guide .guide__list-item {
    display: inline-block; } }

.country-card {
  display: flex; }
  .country-card .country-card__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    position: relative; }
    .country-card .country-card__title::after {
      content: "";
      position: absolute;
      width: 175px;
      height: 2.92px;
      background-color: #FE7865;
      bottom: -30px;
      left: 0; }
  .country-card .country-card__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 370px;
    height: auto;
    margin-bottom: 50px; }
  .country-card .country-card__button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    background-color: #FE7865; }
  .country-card .country-card__button:hover,
  .country-card .country-card__button:focus {
    background-color: #F17D4B; }
  .country-card .country-card__review {
    align-self: center;
    display: block;
    background-color: #FFFFFF;
    max-width: 382px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 30px;
    margin-left: 418px;
    position: relative; }
    .country-card .country-card__review::before {
      content: "";
      position: absolute;
      width: 430px;
      height: 596px;
      z-index: -1;
      right: 318px;
      top: -114px; }
    .country-card .country-card__review--greece::before {
      background-image: url("../img/greece-review-desk.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .country-card .country-card__review--greece::before {
          background-image: url("../img/greece-review-desk@2x.png");
          background-size: cover; } }
    .country-card .country-card__review--albania::before {
      background-image: url("../img/albania-review-desk.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .country-card .country-card__review--albania::before {
          background-image: url("../img/albania-review-desk@2x.png");
          background-size: cover; } }
    .country-card .country-card__review--maked::before {
      background-image: url("../img/maked-review-desk.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .country-card .country-card__review--maked::before {
          background-image: url("../img/maked-review-desk@2x.png");
          background-size: cover; } }
    .country-card .country-card__review--cherno::before {
      background-image: url("../img/cherno-review-desk.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .country-card .country-card__review--cherno::before {
          background-image: url("../img/cherno-review-desk@2x.png");
          background-size: cover; } }
    .country-card .country-card__review--croa::before {
      background-image: url("../img/croa-review-desk.png");
      background-size: cover; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        .country-card .country-card__review--croa::before {
          background-image: url("../img/croa-review-desk@2x.png");
          background-size: cover; } }
  .country-card .country-card__review-title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin: 0;
    margin-bottom: 32px; }
    .country-card .country-card__review-title::after {
      content: "";
      position: absolute;
      width: 68px;
      height: 0.73px;
      background-color: #FE7865;
      bottom: -14px;
      left: 0; }
  .country-card .country-card__review-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(44, 46, 63, 0.7);
    margin-bottom: 44px; }
  .country-card .country-card__review-name {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 54px;
    position: relative; }
    .country-card .country-card__review-name::before {
      content: "";
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      left: -54px;
      top: -10px; }
  .country-card .country-card__review--greece .country-card__review-name::before {
    background-image: url("../img/greece-review-avt.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .country-card .country-card__review--greece .country-card__review-name::before {
        background-image: url("../img/greece-review-avt@2x.png");
        background-size: cover; } }
  .country-card .country-card__review--albania .country-card__review-name::before {
    background-image: url("../img/albania-review-avt.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .country-card .country-card__review--albania .country-card__review-name::before {
        background-image: url("../img/albania-review-avt@2x.png");
        background-size: cover; } }
  .country-card .country-card__review--maked .country-card__review-name::before {
    background-image: url("../img/maked-review-avt.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .country-card .country-card__review--maked .country-card__review-name::before {
        background-image: url("../img/maked-review-avt@2x.png");
        background-size: cover; } }
  .country-card .country-card__review--cherno .country-card__review-name::before {
    background-image: url("../img/cherno-review-avt.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .country-card .country-card__review--cherno .country-card__review-name::before {
        background-image: url("../img/cherno-review-avt@2x.png");
        background-size: cover; } }
  .country-card .country-card__review--croa .country-card__review-name::before {
    background-image: url("../img/croa-review-avt.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .country-card .country-card__review--croa .country-card__review-name::before {
        background-image: url("../img/croa-review-avt@2x.png");
        background-size: cover; } }

@media (max-width: 1023px) {
  .country-card {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .country-card .country-card__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px; }
      .country-card .country-card__title::after {
        display: none; }
    .country-card .country-card__text {
      width: 726px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      color: rgba(44, 46, 63, 0.7); }
    .country-card .country-card__button {
      width: 250px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 auto;
      margin-bottom: 110px; }
    .country-card .country-card__review {
      margin: 0 auto;
      width: 382px;
      box-sizing: border-box;
      padding: 30px 30px 30px 30px; }
      .country-card .country-card__review::before {
        width: 768px;
        height: 415px;
        margin: 0 auto;
        top: -55px;
        left: -50%; }
      .country-card .country-card__review--greece::before {
        background-image: url("../img/greece-review-tablet.png");
        background-size: cover; } }
      @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--greece::before {
          background-image: url("../img/greece-review-tablet@2x.png");
          background-size: cover; } }

@media (max-width: 1023px) {
      .country-card .country-card__review--albania::before {
        background-image: url("../img/albania-review-tablet.png");
        background-size: cover; } }
      @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--albania::before {
          background-image: url("../img/albania-review-tablet@2x.png");
          background-size: cover; } }

@media (max-width: 1023px) {
      .country-card .country-card__review--maked::before {
        background-image: url("../img/maked-review-tablet.png");
        background-size: cover; } }
      @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--maked::before {
          background-image: url("../img/maked-review-tablet@2x.png");
          background-size: cover; } }

@media (max-width: 1023px) {
      .country-card .country-card__review--cherno::before {
        background-image: url("../img/cherno-review-tablet.png");
        background-size: cover; } }
      @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--cherno::before {
          background-image: url("../img/cherno-review-tablet@2x.png");
          background-size: cover; } }

@media (max-width: 1023px) {
      .country-card .country-card__review--croa::before {
        background-image: url("../img/croa-card-desk.png");
        background-size: cover; } }
      @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--croa::before {
          background-image: url("../img/croa-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 1023px) {
    .country-card .country-card__review-title {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 31px; }
      .country-card .country-card__review-title::after {
        bottom: -10.6px;
        left: 0; }
    .country-card .country-card__review-text {
      font-size: 14px;
      margin-bottom: 68px; }
    .country-card .country-card__review-name {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin-top: 44px;
      margin-left: 54px; }
      .country-card .country-card__review-name::before {
        top: -10px;
        left: -53px; } }

@media (max-width: 767px) {
  .country-card {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .country-card .country-card__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px; }
      .country-card .country-card__title::after {
        display: none; }
    .country-card .country-card__text {
      width: 288px;
      text-align: center;
      margin-bottom: 20px; }
    .country-card .country-card__button {
      width: 288px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px;
      margin: 0 auto;
      margin-bottom: 100px; }
    .country-card .country-card__review {
      margin: 0 auto;
      width: calc(100% - 52px);
      box-sizing: border-box;
      padding: 30px 20px 34px 20px; }
      .country-card .country-card__review::before {
        width: 320px;
        height: 415px;
        margin: 0 auto;
        top: -50px;
        right: -50%;
        left: -50%; }
      .country-card .country-card__review--greece::before {
        background-image: url("../img/greece-card-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--greece::before {
          background-image: url("../img/greece-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
      .country-card .country-card__review--albania::before {
        background-image: url("../img/albania-card-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--albania::before {
          background-image: url("../img/albania-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
      .country-card .country-card__review--maked::before {
        background-image: url("../img/maked-card-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--maked::before {
          background-image: url("../img/maked-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
      .country-card .country-card__review--cherno::before {
        background-image: url("../img/cherno-card-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--cherno::before {
          background-image: url("../img/cherno-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
      .country-card .country-card__review--croa::before {
        background-image: url("../img/croa-card-desk.png");
        background-size: cover; } }
      @media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
        .country-card .country-card__review--croa::before {
          background-image: url("../img/croa-card-desk@2x.png");
          background-size: cover; } }

@media (max-width: 767px) {
    .country-card .country-card__review-title {
      font-weight: 500;
      font-size: 20px;
      text-align: center;
      margin-bottom: 31px; }
      .country-card .country-card__review-title::after {
        bottom: -5px;
        left: 35%; }
    .country-card .country-card__review-text {
      text-align: center;
      font-size: 14px;
      margin-bottom: 68px; }
    .country-card .country-card__review-name {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      margin-top: 68px; }
      .country-card .country-card__review-name::before {
        top: -48px;
        left: 48px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.prices {
  display: flex;
  align-items: center;
  max-width: 1244px;
  margin: 0 auto;
  margin-top: 240px; }
  .prices .prices__wrapper {
    order: 3;
    margin-left: 81px; }
  .prices .prices__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    position: relative; }
    .prices .prices__title::after {
      content: "";
      position: absolute;
      width: 175px;
      height: 2.92px;
      background-color: #FE7865;
      bottom: -30px;
      left: 0; }
  .prices .prices__description {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    width: 299px; }
  .prices .prices__line {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    margin-left: 46px; }
  .prices .prices__phone {
    text-decoration: none;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-left: 46px;
    position: relative; }
    .prices .prices__phone::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-image: url("../img/phone-red.svg");
      background-size: contain;
      background-repeat: no-repeat;
      left: -40px;
      top: -1px; }
  .prices .prices__tariff {
    width: 370px;
    height: 672px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 30px;
    padding-top: 40px;
    margin-right: 30px; }
  .prices .prices__tariff-title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: justify;
    width: 100%;
    height: 38px;
    margin: 0; }
    .prices .prices__tariff-title::after {
      content: "";
      width: 100%;
      display: inline-block; }
  .prices .prices__tariff-description {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    line-height: 24px;
    margin-top: 36px;
    position: relative; }
    .prices .prices__tariff-description::after {
      content: "";
      position: absolute;
      width: 310px;
      height: 1px;
      left: 0;
      bottom: -28px; }
  .prices .prices__tariff-list {
    list-style: none;
    margin: 0;
    margin-top: 59px;
    padding-left: 30px; }
  .prices .prices__tariff-item {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    line-height: 32px;
    margin-bottom: 15px;
    position: relative; }
    .prices .prices__tariff-item::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 12px;
      left: -30px;
      top: 10px; }
  .prices .prices__tariff-button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 75px;
    background-color: #FE7865; }
  .prices .prices__tariff-button:hover,
  .prices .prices__tariff-button:focus {
    background-color: #F17D4B; }
  .prices .prices__tariff--complex {
    order: 1;
    border: 3px solid #FE7865; }
    .prices .prices__tariff--complex .prices__tariff-title {
      color: #FE7865; }
    .prices .prices__tariff--complex .prices__tariff-description::after {
      background-color: #FE7865;
      opacity: 50%; }
    .prices .prices__tariff--complex .prices__tariff-item::before {
      background-image: url("../img/check-complex.svg"); }
    .prices .prices__tariff--complex .prices__tariff-button {
      margin-top: 39px; }
  .prices .prices__tariff--econom {
    order: 2;
    border: 1px solid rgba(44, 46, 63, 0.3); }
    .prices .prices__tariff--econom .prices__tariff-title {
      color: rgba(20, 21, 23, 0.7); }
    .prices .prices__tariff--econom .prices__tariff-description::after {
      background-color: rgba(44, 46, 63, 0.3); }
    .prices .prices__tariff--econom .prices__tariff-item::before {
      background-image: url("../img/check-econom.svg"); }
    .prices .prices__tariff--econom .prices__tariff-button {
      margin-top: 26px; }

@media (max-width: 1023px) {
  .prices {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 112px; }
    .prices .prices__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      margin: 0 auto;
      margin-bottom: 20px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .prices .prices__title::after {
        display: none; }
    .prices .prices__wrapper {
      order: 1;
      margin: 0 auto; }
    .prices .prices__description {
      width: 726px;
      color: rgba(44, 46, 63, 0.7);
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center; }
    .prices .prices__line {
      font-weight: 500;
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 10px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .prices .prices__phone {
      display: block;
      color: #FE7865;
      text-decoration: underline;
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 40px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .prices .prices__phone::before {
        display: none; }
    .prices .prices__tariff {
      width: 288px;
      min-height: 629px;
      box-sizing: border-box;
      padding: 30px 20px 0 20px; }
    .prices .prices__tariff-title {
      text-align: center;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 11px; }
    .prices .prices__tariff-description {
      text-align: center; }
      .prices .prices__tariff-description::after {
        width: 248px;
        height: 1px;
        bottom: -10px; }
    .prices .prices__tariff-button {
      width: 288px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px; }
    .prices .prices__tariff--complex {
      order: 2;
      margin-left: auto; }
      .prices .prices__tariff--complex .prices__tariff-button {
        margin: 0;
        margin-left: -23px;
        margin-top: 20px; }
    .prices .prices__tariff--econom {
      order: 3;
      margin-right: auto; }
      .prices .prices__tariff--econom .prices__tariff-title {
        width: 200px;
        margin: 0 auto; }
      .prices .prices__tariff--econom .prices__tariff-button {
        margin: 0;
        margin-left: -21px;
        margin-top: 38px; } }

@media (max-width: 767px) {
  .prices {
    flex-direction: column;
    margin-top: 45px; }
    .prices .prices__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      margin: 0 auto;
      margin-bottom: 20px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .prices .prices__title::after {
        display: none; }
    .prices .prices__wrapper {
      order: 1;
      margin: 0 auto; }
    .prices .prices__description {
      width: 288px;
      color: rgba(44, 46, 63, 0.7);
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center; }
    .prices .prices__line {
      font-weight: 500;
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 10px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .prices .prices__phone {
      display: block;
      color: #FE7865;
      text-decoration: underline;
      font-size: 18px;
      margin: 0 auto;
      margin-bottom: 40px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .prices .prices__phone::before {
        display: none; }
    .prices .prices__tariff {
      width: 288px;
      min-height: 614px;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 30px 20px 0 20px; }
    .prices .prices__tariff-title {
      text-align: center;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 11px; }
    .prices .prices__tariff-description {
      text-align: center; }
      .prices .prices__tariff-description::after {
        width: 248px;
        height: 1px;
        bottom: -10px; }
    .prices .prices__tariff-button {
      width: 288px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px; }
    .prices .prices__tariff--complex {
      order: 2;
      margin-bottom: 30px; }
      .prices .prices__tariff--complex .prices__tariff-button {
        margin: 0;
        margin-left: -23px;
        margin-top: 20px; }
    .prices .prices__tariff--econom {
      order: 3; }
      .prices .prices__tariff--econom .prices__tariff-title {
        width: 200px;
        margin: 0 auto; }
      .prices .prices__tariff--econom .prices__tariff-button {
        margin: 0;
        margin-left: -21px;
        margin-top: 38px; } }

.questions {
  position: relative; }
  .questions::before {
    content: "";
    position: absolute;
    width: 844px;
    height: 455px;
    background-image: url("../img/quest-bg.png");
    background-size: cover;
    z-index: -1;
    top: -70px;
    left: 387px; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .questions::before {
        background-image: url("../img/quest-bg@2x.png");
        background-size: cover; } }
  .questions .questions__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 656px;
    height: 315px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-right: 353px;
    margin-left: auto;
    margin-top: 238px; }
  .questions .questions__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    margin-bottom: 15px; }
  .questions .questions__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px; }
  .questions .questions__wrapper {
    position: relative; }
  .questions .questions__input {
    width: 269px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(44, 46, 63, 0.3);
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #141517; }
  .questions .questions__input::-moz-placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #141517; }
  .questions .questions__input:-ms-input-placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #141517; }
  .questions .questions__input::placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #141517; }
  .questions .questions__phone {
    padding-left: 26px;
    margin-right: 19px; }
  .questions .questions__wrapper label {
    position: absolute;
    color: #FE7865;
    width: 6px;
    height: 6px;
    font-size: 17px;
    font-weight: 700;
    top: 6.25px;
    left: 15px; }
  .questions .questions__email {
    padding-left: 15px; }
  .questions .questions__button {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 50px;
    background-color: #FE7865;
    margin-top: 25px; }
  .questions .questions__button:hover,
  .questions .questions__button:focus {
    background-color: #F17D4B; }

@media (max-width: 1023px) {
  .questions {
    margin-top: 195px;
    padding-top: 50px; }
    .questions::before {
      content: "";
      position: absolute;
      width: 768px;
      height: 455.59px;
      background-image: url("../img/quest-bg.png");
      background-size: cover;
      z-index: -1;
      top: -35px;
      left: 0; } }
    @media (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 1023px) and (min-resolution: 144dpi), (max-width: 1023px) and (min-resolution: 1.5dppx) {
      .questions::before {
        background-image: url("../img/quest-bg@2x.png");
        background-size: cover; } }

@media (max-width: 1023px) {
    .questions .questions__form {
      margin: 0 auto;
      box-shadow: 0px 4px 30px rgba(41, 54, 66, 0.1);
      margin-top: 0;
      padding: 0;
      width: 658px;
      height: 311px; }
    .questions .questions__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      font-size: 25px;
      width: 345px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 11px; }
    .questions .questions__text {
      width: 558px;
      margin: 0 auto;
      margin-bottom: 24px; }
    .questions .questions__wrapper {
      display: flex;
      width: 558px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px; }
    .questions .questions__phone {
      margin: 0; }
    .questions .questions__button {
      width: 250px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px; } }

@media (max-width: 767px) {
  .questions {
    margin-top: 50px;
    padding-top: 50px;
    background-color: #FBF8F8; }
    .questions::before {
      display: none; }
    .questions .questions__form {
      box-shadow: none;
      margin-top: 0;
      padding: 0;
      width: 320px;
      height: 441px;
      background-color: #FBF8F8; }
    .questions .questions__title {
      font-family: "Montserrat", "Arial", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      width: 288px;
      margin: 0 auto;
      margin-bottom: 20px; }
    .questions .questions__text {
      width: 288px;
      margin: 0 auto;
      margin-bottom: 20px; }
    .questions .questions__wrapper {
      display: flex;
      width: 288px;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .questions .questions__phone {
      margin: 0;
      margin-bottom: 20px; }
    .questions .questions__button {
      width: 288px;
      height: 50px;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2px; } }

.footer {
  display: flex;
  align-items: baseline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 240px;
  padding-bottom: 75px; }

@media (max-width: 1023px) {
  .footer {
    flex-wrap: wrap;
    margin-top: 155px;
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .footer {
    width: 320px;
    flex-direction: column;
    margin-top: 70px;
    padding-bottom: 25px; } }

.next .next__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 20px; }

.next .next__list {
  list-style: none;
  width: 350px;
  padding: 0;
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 51px; }

.next .next__item {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  margin-bottom: 10px; }

@media (max-width: 1023px) {
  .next {
    margin-left: 21px; }
    .next .next__list {
      grid-column-gap: 30px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .next .next__item {
      font-size: 14px; } }

@media (max-width: 767px) {
  .next {
    margin: 0 auto; }
    .next .next__title {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px; }
    .next .next__list {
      grid-template-areas: "col1 col2" "col3 col3";
      grid-template-columns: repeat(2, 134px);
      text-align: center;
      grid-row-gap: 20px;
      width: 288px;
      margin: 0 auto; }
    .next .next__column1 {
      grid-area: col1; }
    .next .next__column2 {
      grid-area: col2; }
    .next .next__column3 {
      grid-area: col3;
      margin: 0 auto; }
    .next .next__item {
      font-size: 14px; } }

.contacts {
  margin-left: 129px;
  display: flex;
  flex-direction: column;
  position: relative; }
  .contacts::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 189px;
    background-color: #D7D9DF;
    left: -49px;
    top: 25px; }
  .contacts .contacts__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 21px; }
  .contacts .contacts__link {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: underline;
    color: #FE7865;
    margin-bottom: 19px;
    padding-left: 41px;
    position: relative; }
  .contacts .contacts__link--email::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 20px;
    background-image: url("../img/mail-grey.svg");
    top: 0;
    left: 0; }
  .contacts .contacts__link--phone::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("../img/phone-grey.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: -2px;
    left: 5px; }

@media (max-width: 1023px) {
  .contacts {
    margin-left: 100px;
    margin-right: 44px; }
    .contacts .contacts__link {
      font-size: 14px; } }

@media (max-width: 767px) {
  .contacts {
    margin: 0 auto;
    margin-top: 50px;
    width: 288px; }
    .contacts::before {
      width: 288px;
      height: 1px;
      left: 0;
      top: -30px; }
    .contacts .contacts__title {
      margin: 0 auto;
      margin-bottom: 25px; }
    .contacts .contacts__link--email {
      width: 258px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 0;
      box-sizing: border-box;
      text-align: right;
      font-size: 14px; }
    .contacts .contacts__link--phone {
      width: 209px;
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      text-align: right;
      font-size: 16px; } }

.more {
  margin-left: 82px;
  position: relative; }
  .more::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 189px;
    background-color: #D7D9DF;
    left: -49px;
    top: 25px; }
  .more .more__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px; }
  .more .more__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    line-height: 24px;
    color: rgba(20, 21, 23, 0.5);
    width: 400px; }

@media (max-width: 1023px) {
  .more {
    margin: 0;
    margin-top: 60px; }
    .more::before {
      width: 726px;
      height: 1px;
      top: -30px;
      left: 21px; }
    .more .more__title {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto; }
    .more .more__text {
      font-size: 14px;
      text-align: center;
      width: 726px;
      margin: 0 auto; } }

@media (max-width: 767px) {
  .more {
    margin: 0 auto;
    margin-top: 50px; }
    .more::before {
      width: 288px;
      height: 1px;
      left: 0;
      top: -20px; }
    .more .more__title {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px; }
    .more .more__text {
      width: 288px;
      font-size: 14px;
      margin: 0 auto;
      text-align: center; } }

.buy-modal {
  position: fixed;
  width: 390px;
  height: 444px;
  box-sizing: border-box;
  padding-top: 72px;
  background-color: #FBF8F8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 338px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10; }
  .buy-modal::before {
    content: "";
    position: absolute;
    width: 338px;
    height: 444px;
    background-image: url("../img/buy-modal-bg.png");
    background-size: contain;
    top: 0;
    left: -338px; }
  .buy-modal .buy-modal__button {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    border: none;
    background-color: #FFFFFF;
    background-image: url("../img/menu-cross.svg");
    background-size: cover;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .buy-modal .buy-modal__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 50px; }
  .buy-modal .buy-modal__input {
    width: 270px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(44, 46, 63, 0.3);
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #141517; }
  .buy-modal .buy-modal__input--phone {
    padding-left: 26px;
    margin-bottom: 20px; }
  .buy-modal .buy-modal__input--email {
    padding-left: 15px; }
  .buy-modal .buy-modal__label {
    position: absolute;
    color: #FE7865;
    width: 6px;
    height: 6px;
    font-size: 17px;
    font-weight: 700;
    top: 179px;
    left: 74px; }
  .buy-modal .buy-modal__submit {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 50px;
    background-color: #FE7865;
    margin-top: 25px; }

.disabler {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9; }
