.country-card {
 display: flex;
//  align-items: center;

  .country-card__title {
    @include title-font;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 175px;
      height: 2.92px;
      background-color: $basic-red;
      bottom: -30px;
      left: 0;
    }
  }

  .country-card__text {
    @include desc-font;
    width: 370px;
    height: auto;
    margin-bottom: 50px;
  }

  .country-card__button {
    font-family: $custom-font;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 75px;
    background-color: $basic-red;
  }

  .country-card__button:hover,
  .country-card__button:focus {
    background-color: $hover-orange;
  }

  .country-card__review {
    align-self: center;
    display: block;
    background-color: #FFFFFF;
    max-width: 382px;
    height: max-content;
    padding: 30px;
    margin-left: 418px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 430px;
      height: 596px;
      z-index: -1;
      right: 318px;
      top: -114px
    }

    &--greece::before {
      @include review-photo(url("../img/greece-review-desk.png"), url("../img/greece-review-desk@2x.png"))
    }

    &--albania::before {
      @include review-photo(url("../img/albania-review-desk.png"), url("../img/albania-review-desk@2x.png"))
    }

    &--maked::before {
      @include review-photo(url("../img/maked-review-desk.png"), url("../img/maked-review-desk@2x.png"))
    }

    &--cherno::before {
      @include review-photo(url("../img/cherno-review-desk.png"), url("../img/cherno-review-desk@2x.png"))
    }

    &--croa::before {
      @include review-photo(url("../img/croa-review-desk.png"), url("../img/croa-review-desk@2x.png"))
    }
  }

  .country-card__review-title {
    font-family: $custom-font;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin: 0;
    margin-bottom: 32px;

    &::after {
      content: "";
      position: absolute;
      width: 68px;
      height: 0.73px;
      background-color: $basic-red;
      bottom: -14px;
      left: 0;
    }
  }

  .country-card__review-text {
    @include desc-font;
    color: rgba(44, 46, 63, 0.7);
    margin-bottom: 44px;
  }

  .country-card__review-name {
    font-family: $custom-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-left: 54px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      left: -54px;
      top: -10px;
    }
  }

  //AVATARS FOR REVIEWS

  .country-card__review--greece {
    .country-card__review-name::before {
      @include review-avatar(url("../img/greece-review-avt.png"), url("../img/greece-review-avt@2x.png"))
    }
  }

  .country-card__review--albania {
    .country-card__review-name::before {
      @include review-avatar(url("../img/albania-review-avt.png"), url("../img/albania-review-avt@2x.png"))
    }
  }

  .country-card__review--maked {
    .country-card__review-name::before {
      @include review-avatar(url("../img/maked-review-avt.png"), url("../img/maked-review-avt@2x.png"))
    }
  }

  .country-card__review--cherno {
    .country-card__review-name::before {
      @include review-avatar(url("../img/cherno-review-avt.png"), url("../img/cherno-review-avt@2x.png"))
    }
  }

  .country-card__review--croa {
    .country-card__review-name::before {
      @include review-avatar(url("../img/croa-review-avt.png"), url("../img/croa-review-avt@2x.png"))
    }
  }
}