.more {
  margin-left: 82px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 189px;
    background-color: #D7D9DF;
    left: -49px;
    top: 25px;
  }

  .more__title {
    @include footer-title;
    margin-bottom: 20px;
  }

  .more__text {
    @include footer-text;
    line-height: 24px;
    color: $footer-grey;
    width: 400px;
  }
}

@media (max-width: $mobile-width) {
  .more {
    margin: 0 auto;
    margin-top: 50px;

    &::before {
      width: 288px;
      height: 1px;
      left: 0;
      top: -20px;
    }

    .more__title {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .more__text {
      width: 288px;
      font-size: 14px;
      margin: 0 auto;
      text-align: center;
    }
  }
}