.more {
  margin-left: 82px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 189px;
    background-color: #D7D9DF;
    left: -49px;
    top: 25px;
  }

  .more__title {
    @include footer-title;
    margin-bottom: 20px;
  }

  .more__text {
    @include footer-text;
    line-height: 24px;
    color: $footer-grey;
    width: 400px;
  }
}