.next {
  .next__title {
    @include footer-title;
    margin-bottom: 20px;
  }

  .next__list {
    list-style: none;
    width: 350px;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 51px;
  }

  .next__item {
    @include footer-text;
    color: $footer-grey;
    margin-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .next {
    margin-left: 21px;

    .next__list {
      grid-column-gap: 30px;
      width: fit-content;
    }

    .next__item {
      font-size: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .next {
    margin: 0 auto;

    .next__title {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .next__list {
      grid-template-areas: "col1 col2"
                            "col3 col3";
      grid-template-columns: repeat(2, 134px);
      text-align: center;
      grid-row-gap: 20px;
      width: 288px;
      margin: 0 auto;
    }

    .next__column1 {
      grid-area: col1;
    }

    .next__column2 {
      grid-area: col2;
    }

    .next__column3 {
      grid-area: col3;
      margin: 0 auto;
    }

    .next__item {
      font-size: 14px;
    }
  }
}