$basic-red: #FE7865;
$hover-orange: #F17D4B;
$dark-black: #141517;
$light-black: #2C2E3F;
$transp-grey: rgba(44, 46, 63, 0.3);
$footer-grey: rgba(20, 21, 23, 0.5);

$custom-font: "Montserrat", "Arial", sans-serif;



